@model IEnumerable<OrderManager.ViewModels.AgentViewModel>

@{
    ViewBag.Title = "Agents";
}

<h2>Agent Manager</h2>


        <div class="cotainer list-group">
<a href="@Url.Action("AgentForm","Agent")" class="btn btn-primary">Add Agent</a>
            </div>

<hr />
<table class=" table table-bordered table-responsive table-striped table-hover ">
     @if (!Model.Any())
     {
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Info</h4>
            <h2>No Agents are here!</h2>
            <hr />
        </div>
     }
     else
     {
    <tr >
        <th class="bg-info">
            @Html.DisplayNameFor(model => model.CustCount)
        
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgentCountry)
        </th>
        <th>Actions</th>
    </tr>

         foreach (var item in Model)
         {
    <tr>
        
        <td>
            <span id="CustCount">@Html.DisplayFor(modelItem => item.CustCount)</span>  &nbsp;
            <span id="agact">@Html.ActionLink("New", "CustForm", "Customer", new { agentid = item.AgentCode }, null) |
            @Html.ActionLink("My Customers", "Index", "Customer", new { agentid = item.AgentCode }, null)
                </span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentCountry)
        </td> 
        <td>
            @Html.ActionLink("Edit", "AgentForm", new { id = item.AgentCode }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AgentCode })
        </td>
    </tr>
         }
     }
</table>
