@model IEnumerable<OrderManager.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Orderlist";
}
<table class="table table-bordered table-hover">



    @if (!Model.Any())
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Oops!</h4>
            <h2>No Records found!</h2>
            <hr />
        </div>
    }
    else
    {
        <tr>
            <th><a id="fname" href="javascript:Sort('fname');">
            @Html.DisplayNameFor(model => model.FullName)</a>
        </th>
        <th>
            <a id="oamt" href="javascript:Sort('oamt');">
            @Html.DisplayNameFor(model => model.OrderAmount)
                </a>
        </th>
        <th >
            <a id="aamt" href="javascript:Sort('aamt');">
            @Html.DisplayNameFor(model => model.AdvanceAmount)
                </a>
        </th>
        <th >
            <a id="odate" href="javascript:Sort('odate');">
            @Html.DisplayNameFor(model => model.OrderDate)
                </a>
        </th>
             <th >
                 <a id="ct" href="javascript:Sort('ct');">
            @Html.DisplayNameFor(model => model.City)
                     </a>
        </th>
             <th>
                 <a id="aname" href="javascript:Sort('aname');">
            @Html.DisplayNameFor(model => model.AgentName)
                     </a>
        </th>
        <th>
            All Orders
        </th>
    </tr>

foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvanceAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentName)
        </td>
        <td>
        @if (item.OrderPerDate > 1)
        {
            @Html.ActionLink("All Orders", "Details", new { id = item.CustomerCode,odate=item.OrderDate }) 
        
        }
        
        </td>
    </tr>
            
        }

    }
</table>
<table cellpadding="0" cellspacing="0">
    <tr>

        @for (int i = 1; i <= @ViewBag.TotalPages; i++)
        {

            <td>
                @if (i != @ViewBag.CurrPage)
                {
                    <a class="pages btn btn-default" href="javascript:Goto(@i);">@i</a>
                }
                else
                {
                    <span class="pages btn btn-primary">@i</span>
                }
            </td>
        }
    </tr>
</table>
<input type="hidden" id="curpageidx" name="cPage" value=@ViewBag.CurrPage>
<input type="hidden" id="lastsortby" name="lastsort" value=@ViewBag.SortBy>
<input type="hidden" id="lastsorto" name="lastsorto" value=@ViewBag.SortOrder>






