@model IEnumerable<OrderManager.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Orderlist";
}
<table class="table table-bordered table-hover">



    @if (!Model.Any())
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Oops!</h4>
            <h2>No Records found!</h2>
            <hr />
        </div>
    }
    else
    {
        <tr>
         <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdvanceAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
             <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
             <th>
            @Html.DisplayNameFor(model => model.AgentName)
        </th>
        <th>
            All Orders
        </th>
    </tr>

foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdvanceAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgentName)
        </td>
        <td>
            @Html.ActionLink("All Orders", "Details", new { id=item.CustomerCode }) 
        </td>
    </tr>
}

    }
</table>


<table cellpadding="0" cellspacing="0">
    <tr>

        @for (int i = 1; i <= @ViewBag.TotalPages; i++)
        {

            <td>
                @if (i != @ViewBag.CurrPage)
                {
                    <a class="pages btn btn-default" href="javascript:Goto(@i);">@i</a>
                }
                else
                {
                    <span class="pages btn btn-primary">@i</span>
                }
            </td>
        }
    </tr>
</table>
<input type="hidden" id="curpageidx" name="cPage" />




